server:
  port: 8080

spring:
  application:
    name: springboot-scaffold
  profiles:
    active: dev
  main:
    allow-circular-references: true
  datasource:
    druid:
      driver-class-name: ${mingri.datasource.driver-class-name}
      url: jdbc:mysql://${mingri.datasource.host}:${mingri.datasource.port}/${mingri.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true&rewriteBatchedStatements=true
      username: ${mingri.datasource.username}
      password: ${mingri.datasource.password}

  redis:
    host: ${mingri.redis.host}
    port: ${mingri.redis.port}
    password: ${mingri.redis.password}
    database: ${mingri.redis.database}


#mybatis:
#  #mapper配置文件
#  mapper-locations: classpath:mapper/*.xml
#  type-aliases-package: com.mingri.entity
#  configuration:
#    #开启驼峰命名
#    map-underscore-to-camel-case: true
mybatis-plus:
  type-aliases-package: com.mingri.entity
  mapper-locations: classpath*:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: flag # 逻辑删除字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为0）
  configuration:
    # 全局枚举处理器
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler

logging:
  level:
    com:
      mingri:
        mapper: debug
        service: info
        controller: info

mingri:
  alioss:
    endpoint: ${mingri.alioss.endpoint}
    access-key-id: ${mingri.alioss.access-key-id}
    access-key-secret: ${mingri.alioss.access-key-secret}
    bucket-name: ${mingri.alioss.bucket-name}

captcha:
  email:
    from: ${mingri.mail.from}
    password: ${mingri.mail.password}
    host: ${mingri.mail.host}
    port: ${mingri.mail.port}
    user: ${mingri.mail.user}
    expire-time: ${mingri.mail.expireTime}

security:
  jwt:
    # 设置jwt签名加密时使用的秘钥
    secret-key: ${mingri.jwt.secret-key}
    # 设置jwt过期时间
    expire-time: ${mingri.jwt.expire-time}
    # 设置前端传递过来的令牌名称
    token-name: ${mingri.jwt.token-name}


# 线程池配置
thread:
  pool:
    executor:
      config:
        core-pool-size: 20
        max-pool-size: 50
        keep-alive-time: 5000
        block-queue-size: 5000
        policy: CallerRunsPolicy


## 动态线程池管理配置
dynamic:
  thread:
    pool:
      config:
#        enable: true
        # redis host
        host: 127.0.0.1
        # redis port
        port: 6379
        password: 123456


